@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

.form__images {
    width: auto;
    height: 240px;
    background-color: gray;
    position: relative;
}

.form__bg {
    background: url("../assets/images/bg-main-mobile.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.form__card-back {
    background: url("../assets/images/bg-card-back.png") no-repeat;
    height: 156px;
    width: 285px;
    background-size: cover;
    position: absolute;
    top: 2rem;
    right: 1rem;
}

.form__card-back__cvc {
    position: absolute;
    transform: translate(14rem, 4.125rem);
    color: hsl(212deg 27% 88%);
}

.form__card-front {
    background: url("../assets/images/bg-card-front.png") no-repeat;
    height: 156px;
    width: 285px;
    background-size: cover;
    position: absolute;
    top: 7.5rem;
    left: 4.5vw;
}

.form__card-front__logo {
    background: url("../assets/images/card-logo.svg") no-repeat;
    height: 3.5rem;
    aspect-ratio: 1 / 1;
    background-size: contain;
    position: absolute;
    transform: translate(1.125rem, 1rem);
}

.form__card-front__number {
    position: absolute;
    bottom: 2.635rem;
    font-size: 1.25rem;
    padding-left: 1.125rem;
    letter-spacing: 3px;
    color: hsl(291deg 100% 97%);
}

.form__card-front__name {
    position: absolute;
    bottom: 0.75rem;
    left: 1.125rem;
    color: hsl(291deg 100% 97%);
}

.form__card-front__date {
    position: absolute;
    bottom: 0.75rem;
    right: 1.25rem;
    color: hsl(290deg 45% 76%);
    font-size: 0.75rem;
}


.form-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, min-content);
    place-items: center;
    margin-top: 16vh;
    margin-inline: 1.5rem;
    gap: 2.75rem;
}

.form__name input,
.form__number input {
    display: grid;
    place-self: center;
    max-width: 378px;
    width: 87.5vw;
    color: hsl(274deg 23% 20%);
    font-size: 1.125rem;
    border: 1px solid hsl(263deg 3% 81%);
    border-radius: .5rem;
    padding: 0.5rem 1rem;;
}

.form__name input:hover,
.form__number input:hover,
.form__date input:hover,
.form__cvc input:hover,
.button {
    cursor: pointer;
}

.form__name::before {
    content: "CARDHOLDER NAME";
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: hsl(278deg 24% 15%);
    position: absolute;
    transform: translate(0, -1.5rem);
}

.form__number::before {
    content: "CARD NUMBER";
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: hsl(278deg 24% 15%);
    position: absolute;
    transform: translate(0, -1.5rem);
}


.form__group {
    max-width: 378px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 1.125rem;
    position: relative;
}

.form__group::before {
    content: "EXP. DATE (MM/YY)";
    position: absolute;
    font-size: 0.75rem;
    transform: translate(0, -1.5rem);
    word-spacing: 1px;
    letter-spacing: 1px;

}

#month-input,
#year-input {
    max-width: 76px;
    width: 100%;
    padding: 0.475rem 1rem;
    color: hsl(274deg 23% 20%);
    border-radius: .5rem;
    border: 1px solid hsl(260, 3%, 81%);
}


#cvc-input {
    max-width: 205px;
    width: 96%;
    gap: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid hsl(240deg 2% 82%);
    color: hsl(274deg 23% 20%);
    padding: 0.475rem 1rem;
    margin-left: 0.5rem;

}

.form__cvc::before {
    content: "CVC";
    position: absolute;
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: hsl(278deg 24% 15%);
    transform: translate(0.5rem, -1.5rem);
}

.button {
    max-width: 382px;
    width: 100%;
    padding: .615rem;
    font-size: 1.375rem;
    border-radius: .5rem;
    border: none;
    color: white;
    background-color: hsl(279deg 70% 11%);
}

.button:hover {
    background-color: hsl(279deg 70% 31%);
}

.error {

}

.error::after {
    content: attr(error-after);
    position: relative;
    color: hsl(359, 73%, 74%);
    font-size: 0.875rem;

}


.error-group::after {
    content: attr(error-after);
    position: absolute;
    color: hsl(359, 73%, 74%);
    font-size: 0.875rem;
    bottom: 0;
    left: 0;
    transform: translateY(1.5rem);
}

.error-cvc::after {
    content: attr(error-after);
    position: absolute;
    color: hsl(359, 73%, 74%);
    font-size: 0.875rem;
    bottom: -1.5rem;
    left: 11rem;

}

input::placeholder {
    color: hsl(240deg 2% 82%);
}


/* Completed */
.completed-container {
    display: grid;
    place-items: center;
    margin-top: 5rem;
    padding-inline: 1.5rem;
}

.completed__header {
    text-transform: uppercase;
    color: hsl(272, 45%, 11%);
    letter-spacing: 3px;
    font-weight: 100;
    margin-top: 1.25rem;
}

.completed__paragraph {
    font-size: 1.25rem;
    color: hsl(270, 2%, 59%);
    margin-top: 0.25rem;
}

.completed-container button {
    margin-top: 1.25rem;;
}

@media (min-width: 968px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "form__images form-container";
    }

    .form__images {
        grid-area: form__images;
        height: 100vh;
        max-width: 483px;
    }

    .form__bg {
        background-image: url("../assets/images/bg-main-desktop.png");
        background-repeat: no-repeat;
    }

    .form__card-back {
        width: 448px;
        height: 246px;
        background-size: contain;
        transform: translate(10rem, 27.25rem);
    }

    .form__card-back__cvc {
        transform: translate(22rem, 7rem);
        font-size: 1.125rem;

    }

    .form__card-front {
        width: 448px;
        height: 246px;
        background-size: contain;
        transform: translate(2rem, 4rem);
    }

    .form__card-front__logo {
        height: 4.5rem;
        transform: translate(1.835rem, 1.5rem);
    }

    .form__card-front__number {
        font-size: 2rem;
        left: 1vw;
        word-spacing: 5px;
        bottom: 7vh
    }

    .form__card-front__name {
        font-size: 1.125rem;
        left: 1.835rem;
    }


    /* Card CVC change this*/
    .form__card-front__date {
        font-size: 1.125rem;
    }

    .form-container {
        grid-area: form-container;
        place-self: start;
        place-content: center;
        margin-top: auto;
        margin-bottom: auto;
        z-index: 10;
    }

    /* Completed */
    .completed-container {
        display: grid;
        place-content: center;
        place-items: center;
    }

    .completed__header {
        text-transform: uppercase;
        color: hsl(272, 45%, 11%);
        letter-spacing: 3px;
        font-weight: 100;
        margin-top: 1.25rem;
    }

    .completed__paragraph {
        font-size: 1.25rem;
        color: hsl(270, 2%, 59%);
        margin-top: 0.25rem;
    }

    .completed-container button {
        margin-top: 1.25rem;
        padding-inline: 9rem;
    }
}
